POSTGRES_USER=truemain
POSTGRES_PASSWORD=truemain
POSTGRES_DB=truemain
RIOT_API_KEY=RGAPI-REPLACE_ME
JOB_MODE=Full
JOB_RUN_ONCE=false
JOB_INTERVAL_MINUTES=10
PGADMIN_DEFAULT_EMAIL=admin@truemain.dev
PGADMIN_DEFAULT_PASSWORD=admin
