bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

.idea/
*.DotSettings.user
*.sln.iml

.env
.env.prod
.env.*
!.env.example
!.env.prod.example

**/node_modules/
**/.nuxt/
**/.output/

.codex/
_bmad*
.agents/

AGENTS.md
